footer {
  background-color: gray;
  color: gainsboro;
  text-align: center;
}

ul {
  list-style: none;
  display:flex;
  padding : 20px 200px;
}

ul li {
  flex-grow : 1;
}

footer > p {
  font-size: 14px;
  margin: 10px 0 0 0;
  line-height: 30px;
}
