div {
  width: 100%;
  height: 100px;
  background-color:#dcdcdc;
  text-align: center;
  padding: 25px;
}
select {
  width: 10%;
  height: 40px;
}
.mat-form-field {
  width: 30%;
  margin : 0 30px;
}
